

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>按钮</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
	<style>
		.icoo{width: 100px;height: 100px;line-height: 100px;text-align: center; float: left}
		.layui-icon{font-size: 40px !important;}
	</style>
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-btn-container">
              <div class="icoo"><i class="layui-icon layui-icon-shezhi"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-yinshenim"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-search"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-fenxiang1"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-shezhi1"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-yinqing"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-close"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-close-fill"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-baobiao"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-star"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-yuandian"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-chat"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-logo"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-list"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-tubiao"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-ok-circle"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-huanfu2"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-On-line"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-biaoge"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-right"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-left"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-cart-simple"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-cry"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-smile"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-survey"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-tree"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-iconfont17"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-tianjia"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-download-circle"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-xuanzemoban48"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-gongju"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-face-surprised"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-bianji"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-speaker"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-down"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-wenjian"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-layouts"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-duigou"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-tianjia1"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-yaoyaozhibofanye"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-read"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-404"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-lunbozutu"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-help"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-daima1"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-jinshui"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-username"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-find-fill"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-about"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-location"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-up"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-pause"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-riqi"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-uploadfile"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-delete"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-play"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-top"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-haoyouqingqiu"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-refresh-3"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-weibiaoti1"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-chuangkou"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-comiisbiaoqing"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-zhengque"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-dollar"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-iconfontwodehaoyou"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-wenjianxiazai"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-tupian"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-lianjie"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-diamond"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-jilu"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-liucheng"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-fontstrikethrough"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-unlink"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-bianjiwenzi"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-sanjiao"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-danxuankuanghouxuan"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-danxuankuangxuanzhong"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-juzhongduiqi"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-youduiqi"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-zuoduiqi"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-gongsisvgtubiaozongji22"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-gongsisvgtubiaozongji23"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-refresh-2"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-loading-1"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-return"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-jiacu"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-uploading"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-liaotianduihuaimgoutong"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-video"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-headset"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-wenjianjiafan"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-shouji"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-tianjia2"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-wenjianjia"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-biaoqing"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-html"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-biaodan"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-cart"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-camera-fill"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-25"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-emwdaima"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-fire"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-set"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-zitixiahuaxian"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-sanjiao1"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-tips"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-tupian-copy-copy"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-more-vertical"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-zhuti2"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-loading"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-xieti"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-refresh-1"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-rmb"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-home"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-user"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-notice"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-login-weibo"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-voice"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-download"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-login-qq"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-snowflake"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-yemian1"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-template"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-auz"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-console"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-app"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-prev"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-website"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-next"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-component"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-more"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-login-wechat"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-shrink-right"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-spread-left"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-camera"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-note"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-refresh"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-nv"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-nan"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-password"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-senior"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-theme"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-tread"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-praise"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-star-fill"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-template-1"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-loading-2"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-vercode"></i></div>
<div class="icoo"><i class="layui-icon layui-icon-cellphone"></i></div>

            </div>
          </div>
        </div>
      </div>
    </div>

  
  <script src="../../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index']);
  </script>
</body>
</html>