<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="utf-8"/>
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <link rel="stylesheet"  th:href="@{/layuiadmin/layui/css/layui.css}" media="all"/>
  <link rel="stylesheet"  th:href="@{/layuiadmin/style/admin.css}" media="all"/>
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-header">添加用户</div>
      <div class="layui-card-body" style="padding: 15px;">
        <form class="layui-form" th:action="@{/users/insert}" lay-filter="component-form-group" method="post">
          <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
              <input type="text" name="username" lay-verify="required" autocomplete="off" placeholder="用户名" class="layui-input"/>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">登录名</label>
            <div class="layui-input-block">
              <input type="text" name="loginName" lay-verify="required" placeholder="登录名" autocomplete="off" class="layui-input"/>
            </div>
          </div>
          
          <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">验证手机</label>
              <div class="layui-input-inline">
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input"/>
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">验证邮箱</label>
              <div class="layui-input-inline">
                <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input"/>
              </div>
            </div>
          </div>
          
          <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
              <input type="password" name="password" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input"/>
            </div>
          </div>
        
         
          
               
          <div class="layui-form-item layui-layout-admin">
            <div class="layui-input-block">
              <div class="layui-footer" style="left: 0;">
                <input class="layui-btn" lay-submit=""  type="submit" value="立即提交"/>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

    
 <script th:src="@{/layuiadmin/layui/layui.js}" ></script>
  <script>
  layui.config({
    base: '/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'laydate'], function(){
	   var $ = layui.$
	    ,admin = layui.admin
	    ,element = layui.element
	    ,layer = layui.layer
	    ,laydate = layui.laydate
	    ,form = layui.form;
      return false;
    });
  });

  
  </script>
</body>
</html>
