<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="utf-8"/>
  <meta name="renderer" content="webkit"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <link rel="stylesheet"  th:href="@{/layuiadmin/layui/css/layui.css}"  media="all"/>
  <link rel="stylesheet"  th:href="@{/layuiadmin/style/admin.css}" media="all"/>
</head>
<body>
  <div class="layui-fluid" id="user-edit">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">基本信息</div>
          <div class="layui-card-body" pad15="">
            <form action="" th:action="@{/users/update}" method="post">
            <div class="layui-form" lay-filter="" th:each="deail:${deial}">
               <input type="hidden" name="id" th:value="${deail.id}" class="layui-input" />
              <div class="layui-form-item">
                <label class="layui-form-label">我的角色</label>
                <div class="layui-input-inline">
                  <select name="role" lay-verify="">
                    <option value="1" selected="selected">超级管理员</option>
                    <option value="2" disabled="disabled">普通管理员</option>
                    <option value="3" disabled="disabled">审核员</option>
                    <option value="4" disabled="disabled">编辑人员</option>
                  </select> 
                </div>
                <div class="layui-form-mid layui-word-aux">当前角色不可更改为其它角色</div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                  <input type="text" name="username" th:value="${deail.username}" readonly="true" class="layui-input" />
                </div>
                <div class="layui-form-mid layui-word-aux">不可修改。一般用于后台登入名</div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">登录名</label>
                <div class="layui-input-inline">
                  <input type="text" name="loginName" th:value="${deail.loginName}" lay-verify="nickname" autocomplete="off" placeholder="请输入登录名" class="layui-input"/>
                </div>
              </div>
             
  
              <div class="layui-form-item">
                <label class="layui-form-label">手机</label>
                <div class="layui-input-inline">
                  <input type="text" name="phone" th:value="${deail.phone}" lay-verify="phone" autocomplete="off" class="layui-input"/>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                  <input type="text" name="email" th:value="${deail.email}" lay-verify="email" autocomplete="off" class="layui-input"/>
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                  <textarea name="remarks" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit="" type="submit" lay-filter="setmyinfo">确认修改</button>
                  <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>
</html>